{% extends "layout.html" %} {% block body %}

<h1>Recent Predictions</h1>

<hr />

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Country</th>
            <th>Store</th>
            <th>Product</th>
            <th>Sales Prediction</th>
        </tr>
    </thead>

    <tbody>
        {% for prediction in predictions %}
        <tr>
            <td>{{ prediction.date }}</td>
            <td>{{ prediction.country }}</td>
            <td>{{ prediction.store }}</td>
            <td>{{ prediction.product }}</td>
            <td>{{ prediction.prediction }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
